body{
    width: 95%;
    font-size: 1.2em;
    font-family: Verdana, Helvetica, Arial;
}

header{
    display: flex;
    justify-content: center;
}

header img{
    width: 75%;
    height: 75%;
}

section{
    width: 70%;
}

section article h1{
    color: darkcyan;
    font-size: 150%;
}

section article h2{
    color: darkcyan;
    font-size: 130%;
}

.side{
    background-image: url("../images/cocktail.gif");
    background-repeat: repeat-x;
    float: right;
    flex-direction: column;
    padding: 10px;
    width: 25%;
    border:  #007e7e 2px solid;
    text-align: center;
}

.side h1{
    color: darkgreen;
}

.side h2{
    color: deepskyblue;
}

.side p a:hover{
    background-color: sandybrown;
}

#guarantee{
    background-image: url("../images/background.gif");
    background-repeat: no-repeat;
    background-color: skyblue;
    border: whitesmoke;
    margin: 30px;
    padding: 20px;
    padding-left: 75px;
    color: #444444;
}

footer{
    width: 95%;
    font-size: 0.6em;
    text-align: center;
    display: flex;
    justify-content: center;
}